.page-details {
  .store-gallery {
    margin-top: 20px;

    img {
      border-radius: 10px;
    }

    .thumbnail-image {
      margin-bottom: 20px;
      border: 2px solid transparent;

      &:hover,
      &.active {
        border: 2px solid #ff7158;
      }
    }
  }

  .store-heading {
    margin-bottom: 10px;

    .h1 {
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      color: #0c0d36;
      margin-bottom: 0px;
    }
    .owner {
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #979797;
      margin-bottom: 8px;
    }
    .price {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: #ff7158;
      margin-bottom: 10px;
    }
    .store-description {
      font-weight: normal;
      font-size: 16px;
      line-height: 180px;
      color: #525252;
    }
  }
}
